#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title{
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-decoration: underline;
}

.houses-card ul{
  display: flex;
  flex-wrap: wrap;
}

.each-house{
  margin: auto;
  padding: 10px;
}

ul{
  list-style-type: none;
}